@import "../styles/layous";


.container{
    @include grid;
    grid-auto-rows: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    @media only screen and (min-width: 600px){
        @include gridLayout((6,1),(6,1),(6,1),(6,1),(12,1))
    }

    max-width: 100%;
    margin: 0 auto;

    >div:nth-of-type(1){
        background-color: red;
    }
    >div:nth-of-type(2){
        background-color: blue;
    }
    >div:nth-of-type(3){
        background-color: yellow;
    }
    >div:nth-of-type(4){
        background-color: orange;
    }
    >div:nth-of-type(5){
        background-color: green;
    }

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
}