body{
    background-color: black;
}



h2{
    position:absolute;
    top: 40%;
    width:100%;
    left:55%;
    transform: translate(-50%, -50%);
    font-family: 'Vollkorn', serif;
    font-size: 22px;
    color:white;
}


