<h1 class="b-title" class= "animate__animated animate__fadeIn animate__faster">Please enter your country</h1>
<hr>

<div class="row">
    <div class="col">
        <app-pais-input
        (onEnter)="buscar($event)"
        placeholder="Search your Country">
    </app-pais-input>
    </div>
</div>

<hr>

<div *ngIf="hayError"
class="alert alert-danger">
    Cannot find the desired country {{ region }}
</div>

<div *ngIf="!hayError" class="row">
    <div class="col">

        <app-pais-tabla [paises]="paises"></app-pais-tabla>

    </div>
</div>
    

