@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');

header{
background-color: rgb(4,5,6);
height: 10vh;
width: 100%;
}

ul{
    display:flex;
    justify-content: space-around;

}

li{
    margin-top: 20px;
    list-style-type: none;

}

a{
    color: white;
    text-decoration: none;
    font-family: 'Vollkorn', serif;
    
}